@page
@model WebApplicationStripeRazor.Pages.checkoutModel
@{
}
<h2>This is the page that you have as your checkout page </h2>
<form method="post">
    
    <input name="submit" value="Checkout/Pay" type="submit" asp-page-handler="Submit" />


</form>